<!DOCTYPE html>
<html>
<body>

<h2>Ease your life</h2>
<div class="topnav">

    <a class="active" href="#home">Home</a>

    <a href="#news">Service</a>

    <a href="#contact">Portfolio</a>

    <a href="#about">Link</a>
  </div>

  <p>
    This Website
    contains a lot of source data
    in the Temp File,
    but the browser
    has different talent it.
    </p>
    <div class="container" style="background-color:#f1f1f1">
        </div>
<input type=button onClick="window.location='login';" 
value='User' >

<input type=button onClick="window.location='register';" 
value='Provider' >

</body>
</html>





